html, body{
    margin: 0px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resistor_box{
    border-radius: 10px;
    box-sizing: border-box;
    padding: 40px 20px;
    width: 400px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    background-color: #E6D8C3;

}

.resistor_box label{
    display: block;
    margin-bottom: 5px;
    width: 100%;   
    color: #5D866C;
    font-weight: bold;
}

.resistor_box input{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    border: 1px solid #C2A68C; 
    border-radius: 5px;
}

.resistor_box input[type="submit"]{
    display: block;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    background: #5D866C; /* deep green */
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
}

.resistor_box input[type="submit"]:hover{
    background: #4e7058;
}

.resistor_box .error {
    color: #C25D5D; /* subtle red/brown for errors */
    font-size: 13px;
    margin-bottom: 10px;
}

.resistor_box .login{
    display: block;
    margin-bottom: 5px;
    margin-top: 15px;
    width: 100%;   
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #5D866C;
}

.resistor_box .login:hover{
    text-decoration: underline;
}